debian-blank/ filter=lfs diff=lfs merge=lfs -text
debian-memcached/ filter=lfs diff=lfs merge=lfs -text
kernel/ filter=lfs diff=lfs merge=lfs -text
ubuntu-16.04-blank/initrd.img-4.4.0-83-generic filter=lfs diff=lfs merge=lfs -text
ubuntu-16.04-blank/vmlinuz-4.4.0-83-generic filter=lfs diff=lfs merge=lfs -text
ubuntu-16.04-blank/ubuntu-16.04-lts-blank.qcow2.bz2 filter=lfs diff=lfs merge=lfs -text
new-ubuntu/QEMU_EFI.fd filter=lfs diff=lfs merge=lfs -text
new-ubuntu/flash1.img filter=lfs diff=lfs merge=lfs -text
new-ubuntu/flash0.img filter=lfs diff=lfs merge=lfs -text
new-ubuntu/biosFlash_0.img filter=lfs diff=lfs merge=lfs -text
new-ubuntu/biosFlash_1.img filter=lfs diff=lfs merge=lfs -text
new-ubuntu/ubuntu-16.04.3-efi-docker-COMPRESSED.qcow2 filter=lfs diff=lfs merge=lfs -text
